.navbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(126, 67, 0, 0.7);
    padding: 5px 0;
    opacity: 2;
}

.navbar a{
  color: rgb(255, 255, 255);
  padding: 10px 25px; /* Add padding as needed */
  text-decoration: none;
  text-align: center;
  opacity: 1;
  font-size: 20px;

}

.border{
    background-image: linear-gradient(to top, #0951d8, #00b48d); 
  border: 1px solid #ffffff; /* Border around the box */
  padding: 30px; /* Padding inside the box */
  margin-top: 20px; /* Margin above the box */
  padding-left: 10%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  align-items: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.conten img{
    padding: 10px 150px;
    width: 150px;
    padding-left: 0.5px;

}

.font a{
    font-size: 20px;
    padding: 10px 50px;
    font-weight: bolder;
}

.navbar a:hover {
    background-color:rgb(108, 27, 236); /* Set hover background color */
    color: rgb(0, 0, 0); /* Set hover text color */
  }

.home-text{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: black;
}



.contact-styl{
    text-align: center;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}